// This is where your styles can go, import any other scss or css files here or write your own style directly below

body,
body * {
  box-sizing: border-box;
}

img {
  height: 42% !important;
  width: 100%;
  object-fit: cover;
}

ul {
  list-style-type: none;
}
